<!doctype html>
<html>
    <head>
        <title>Home page</title>
    </head>
    <body>
        <h1>alpha beta notation</h1>
        <h2>mutable beta and immutable alpha</h2>
        <p>Hello {{str_name}} ,Welcome to ShiGuang record</p>
        <p>
            {%for x in range(10)%}
            {{x}}<br>
            {%endfor%}
        </p>

        <h3>Notation</h3>
        <h3>Beta</h3>
        <p>
            指的是个股与大盘的同步率，个股跟随大盘的趋势上涨或者下跌而波动
            <br>+正值为随大盘波动而波动，-负值为与大盘波动方向相反的趋势行走
            <br>
        </p>
        <h3>Alpha</h3>
        <p>检验投资策略是否有超额报酬的可能性的数值,资操作回报率相关的数值,随着投资所获得的回报率越高，alpha值递增</p>
        <br>
        <ul>
            <li><a href=https://wiki.mbalib.com/wiki/%E8%82%A1%E7%A5%A8%E6%9C%AF%E8%AF%AD%E8%8B%B1%E6%B1%89%E5%AF%B9%E7%85%A7%E8%A1%A8>References 1: Vocabulary</a></li>
        </ul>
        
        
    </body>
</html>